<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="https://www.linkedin.com/in/tam1tam1/">LinkedIn</a>
</nav>

<section>
  <img width="100%" src="assets/logos.png"/>

  <img src="assets/gees.png"/>
  {{ content }}

  <h3>
    Testimonials
  </h3>

  <img width="100%" src="assets/aws-pro.png"/>
  <img src="assets/testimonial1.png"/>
  <img src="assets/testimonial2.png"/>

</section>
<footer>
  &copy;  2022 - Global Excellence Engineering Solutions SRL
</footer>
</body>
</html>